In [3]:
import covsirphy as cvp
import pandas as pd
import numpy as np

In [4]:
country = 'United Kingdom'

In [5]:
data = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/full_grouped.csv')
data = data[data['Country/Region'] == country].reset_index()
data = data[data['Confirmed'] > 0]

In [6]:
data

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
9,1860,2020-01-31,United Kingdom,2,0,0,2,2,0,0,Europe
10,2047,2020-02-01,United Kingdom,2,0,0,2,0,0,0,Europe
11,2234,2020-02-02,United Kingdom,2,0,0,2,0,0,0,Europe
12,2421,2020-02-03,United Kingdom,8,0,0,8,6,0,0,Europe
13,2608,2020-02-04,United Kingdom,8,0,0,8,0,0,0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
174,32715,2020-07-14,United Kingdom,292931,45053,1385,246493,1240,138,1,Europe
175,32902,2020-07-15,United Kingdom,293469,45138,1386,246945,538,85,1,Europe
176,33089,2020-07-16,United Kingdom,294116,45204,1403,247509,647,66,17,Europe
177,33276,2020-07-17,United Kingdom,294803,45318,1403,248082,687,114,0,Europe
178,33463,2020-07-18,United Kingdom,295632,45358,1413,248861,829,40,10,Europe

In [7]:
df = pd.read_csv('./population_2020.csv')

In [8]:
population = df[df['Country (or dependency)'] == country]['Population (2020)']

In [9]:
population = int(population)
print(population)

67814098

In [10]:
num_sample = len(data)

In [11]:
population = [population for _ in range(num_sample)]

In [12]:
data['Population'] = population

In [13]:
data.tail()

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population
174,32715,2020-07-14,United Kingdom,292931,45053,1385,246493,1240,138,1,Europe,67814098
175,32902,2020-07-15,United Kingdom,293469,45138,1386,246945,538,85,1,Europe,67814098
176,33089,2020-07-16,United Kingdom,294116,45204,1403,247509,647,66,17,Europe,67814098
177,33276,2020-07-17,United Kingdom,294803,45318,1403,248082,687,114,0,Europe,67814098
178,33463,2020-07-18,United Kingdom,295632,45358,1413,248861,829,40,10,Europe,67814098

In [14]:
data['Susceptiple'] = data['Population'] - data['Confirmed']

In [15]:
data['Log susceptiple'] = np.log(data['Susceptiple'])

In [16]:
data.tail()

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple
174,32715,2020-07-14,United Kingdom,292931,45053,1385,246493,1240,138,1,Europe,67814098,67521167,18.027952
175,32902,2020-07-15,United Kingdom,293469,45138,1386,246945,538,85,1,Europe,67814098,67520629,18.027944
176,33089,2020-07-16,United Kingdom,294116,45204,1403,247509,647,66,17,Europe,67814098,67519982,18.027934
177,33276,2020-07-17,United Kingdom,294803,45318,1403,248082,687,114,0,Europe,67814098,67519295,18.027924
178,33463,2020-07-18,United Kingdom,295632,45358,1413,248861,829,40,10,Europe,67814098,67518466,18.027912

In [17]:
susceptiple = np.asarray(data['Susceptiple'])

In [18]:
new_susceptiple = susceptiple[:-1] - susceptiple[1:]

In [19]:
new_susceptiple = np.insert(new_susceptiple, 0, 0)

In [20]:
data['Decresed susceptiple'] = new_susceptiple

In [21]:
data.head(100)

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple,Decresed susceptiple
9,1860,2020-01-31,United Kingdom,2,0,0,2,2,0,0,Europe,67814098,67814096,18.032281,0
10,2047,2020-02-01,United Kingdom,2,0,0,2,0,0,0,Europe,67814098,67814096,18.032281,0
11,2234,2020-02-02,United Kingdom,2,0,0,2,0,0,0,Europe,67814098,67814096,18.032281,0
12,2421,2020-02-03,United Kingdom,8,0,0,8,6,0,0,Europe,67814098,67814090,18.032281,6
13,2608,2020-02-04,United Kingdom,8,0,0,8,0,0,0,Europe,67814098,67814090,18.032281,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,19625,2020-05-05,United Kingdom,196780,29520,926,166334,3689,693,16,Europe,67814098,67617318,18.029375,3689
105,19812,2020-05-06,United Kingdom,200616,30172,934,169510,3836,652,8,Europe,67814098,67613482,18.029318,3836
106,19999,2020-05-07,United Kingdom,204387,30712,970,172705,3771,540,36,Europe,67814098,67609711,18.029262,3771
107,20186,2020-05-08,United Kingdom,207439,31340,997,175102,3052,628,27,Europe,67814098,67606659,18.029217,3052
108,20373,2020-05-09,United Kingdom,209589,31685,1001,176903,2150,345,4,Europe,67814098,67604509,18.029185,2150

In [22]:
data = data.drop(columns=['WHO Region', 'Country/Region', 'index'])

In [23]:
data.head(10)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Population,Susceptiple,Log susceptiple,Decresed susceptiple
9,2020-01-31,2,0,0,2,2,0,0,67814098,67814096,18.032281,0
10,2020-02-01,2,0,0,2,0,0,0,67814098,67814096,18.032281,0
11,2020-02-02,2,0,0,2,0,0,0,67814098,67814096,18.032281,0
12,2020-02-03,8,0,0,8,6,0,0,67814098,67814090,18.032281,6
13,2020-02-04,8,0,0,8,0,0,0,67814098,67814090,18.032281,0
14,2020-02-05,9,0,0,9,1,0,0,67814098,67814089,18.032281,1
15,2020-02-06,9,0,0,9,0,0,0,67814098,67814089,18.032281,0
16,2020-02-07,9,0,0,9,0,0,0,67814098,67814089,18.032281,0
17,2020-02-08,13,0,0,13,4,0,0,67814098,67814085,18.032280,4
18,2020-02-09,14,0,0,14,1,0,0,67814098,67814084,18.032280,1

In [24]:
data.to_csv(country+'.csv')