In [2]:
import covsirphy as cvp
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/covid_19_clean_complete.csv')

In [4]:
data_us = data[data['Country/Region'] == 'US']

In [9]:
data_us = data_us.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long', 'WHO Region'], axis=1)

In [10]:
data_us.head(1)

           Date  Confirmed  Deaths  Recovered  Active
223  2020-01-22          1       0          0       1

In [45]:
data = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/full_grouped.csv')

In [46]:
data_us1 = data[data['Country/Region'] == 'US'].reset_index()

In [47]:
data_us1.head(20)

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,173,2020-01-22,US,1,0,0,1,0,0,0,Americas
1,360,2020-01-23,US,1,0,0,1,0,0,0,Americas
2,547,2020-01-24,US,2,0,0,2,1,0,0,Americas
3,734,2020-01-25,US,2,0,0,2,0,0,0,Americas
4,921,2020-01-26,US,5,0,0,5,3,0,0,Americas
5,1108,2020-01-27,US,5,0,0,5,0,0,0,Americas
6,1295,2020-01-28,US,5,0,0,5,0,0,0,Americas
7,1482,2020-01-29,US,5,0,0,5,0,0,0,Americas
8,1669,2020-01-30,US,5,0,0,5,0,0,0,Americas
9,1856,2020-01-31,US,7,0,0,7,2,0,0,Americas
10,2043,2020-02-01,US,8,0,0,8,1,0,0,Americas
11,2230,2020-02-02,US,8,0,0,8,0,0,0,Americas
12,2417,2020-02-03,US,11,0,0,11,3,0,0,Americas
13,2604,2020-02-04,US,11,0,0,11,0,0,0,Americas
14,2791,2020-02-05,US,11,0,0,11,0,0,0,Americas
15,2978,2020-02-06,US,11,0,0,11,0,0,0,Americas
16,3165,2020-02-07,US,11,0,0,11,0,0,0,Americas
17,3352,2020-02-08,US,11,0,0,11,0,0,0,Americas
18,3539,2020-02-09,US,11,0,3,8,0,0,3,Americas
19,3726,2020-02-10,US,11,0,3,8,0,0,0,Americas

In [48]:
df = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/time_series_covid19_deaths_US.csv')

In [49]:
population = df['Population'].sum()

In [50]:
population

338752267

In [51]:
num_sample = len(data_us1)

In [52]:
population = [population for _ in range(num_sample)]

In [53]:
data_us1['Population'] = population

In [54]:
data_us1.head(5)

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population
0,173,2020-01-22,US,1,0,0,1,0,0,0,Americas,338752267
1,360,2020-01-23,US,1,0,0,1,0,0,0,Americas,338752267
2,547,2020-01-24,US,2,0,0,2,1,0,0,Americas,338752267
3,734,2020-01-25,US,2,0,0,2,0,0,0,Americas,338752267
4,921,2020-01-26,US,5,0,0,5,3,0,0,Americas,338752267

In [55]:
data_us1.head(100)

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population
0,173,2020-01-22,US,1,0,0,1,0,0,0,Americas,338752267
1,360,2020-01-23,US,1,0,0,1,0,0,0,Americas,338752267
2,547,2020-01-24,US,2,0,0,2,1,0,0,Americas,338752267
3,734,2020-01-25,US,2,0,0,2,0,0,0,Americas,338752267
4,921,2020-01-26,US,5,0,0,5,3,0,0,Americas,338752267
...,...,...,...,...,...,...,...,...,...,...,...,...
95,17938,2020-04-26,US,968518,55810,106988,805720,27689,1293,6616,Americas,338752267
96,18125,2020-04-27,US,990999,57233,111424,822342,22481,1423,4436,Americas,338752267
97,18312,2020-04-28,US,1015518,59454,115936,840128,24519,2221,4512,Americas,338752267
98,18499,2020-04-29,US,1042926,61955,120720,860251,27408,2501,4784,Americas,338752267
99,18686,2020-04-30,US,1072667,64256,153947,854464,29741,2301,33227,Americas,338752267

In [56]:
data_us1['Susceptiple'] = data_us1['Population'] - data_us1['Confirmed']

In [57]:
data_us1['Log susceptiple'] = np.log(data_us1['Susceptiple'])

In [61]:
data_us1.head(15)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple
0,2020-01-22,US,1,0,0,1,0,0,0,Americas,338752267,338752266,19.64078
1,2020-01-23,US,1,0,0,1,0,0,0,Americas,338752267,338752266,19.64078
2,2020-01-24,US,2,0,0,2,1,0,0,Americas,338752267,338752265,19.64078
3,2020-01-25,US,2,0,0,2,0,0,0,Americas,338752267,338752265,19.64078
4,2020-01-26,US,5,0,0,5,3,0,0,Americas,338752267,338752262,19.64078
5,2020-01-27,US,5,0,0,5,0,0,0,Americas,338752267,338752262,19.64078
6,2020-01-28,US,5,0,0,5,0,0,0,Americas,338752267,338752262,19.64078
7,2020-01-29,US,5,0,0,5,0,0,0,Americas,338752267,338752262,19.64078
8,2020-01-30,US,5,0,0,5,0,0,0,Americas,338752267,338752262,19.64078
9,2020-01-31,US,7,0,0,7,2,0,0,Americas,338752267,338752260,19.64078
10,2020-02-01,US,8,0,0,8,1,0,0,Americas,338752267,338752259,19.64078
11,2020-02-02,US,8,0,0,8,0,0,0,Americas,338752267,338752259,19.64078
12,2020-02-03,US,11,0,0,11,3,0,0,Americas,338752267,338752256,19.64078
13,2020-02-04,US,11,0,0,11,0,0,0,Americas,338752267,338752256,19.64078
14,2020-02-05,US,11,0,0,11,0,0,0,Americas,338752267,338752256,19.64078

In [71]:
susceptiple = np.asarray(data_us1['Susceptiple'])

In [77]:
new_susceptiple = susceptiple[:-1] - susceptiple[1:]

In [80]:
new_susceptiple = np.insert(new_susceptiple, 0, 0)

In [83]:
data_us1['Decresed susceptiple'] = new_susceptiple

In [85]:
data_us1.head(100)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple,Decresed susceptiple
0,2020-01-22,US,1,0,0,1,0,0,0,Americas,338752267,338752266,19.640780,0
1,2020-01-23,US,1,0,0,1,0,0,0,Americas,338752267,338752266,19.640780,0
2,2020-01-24,US,2,0,0,2,1,0,0,Americas,338752267,338752265,19.640780,1
3,2020-01-25,US,2,0,0,2,0,0,0,Americas,338752267,338752265,19.640780,0
4,2020-01-26,US,5,0,0,5,3,0,0,Americas,338752267,338752262,19.640780,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-04-26,US,968518,55810,106988,805720,27689,1293,6616,Americas,338752267,337783749,19.637916,27689
96,2020-04-27,US,990999,57233,111424,822342,22481,1423,4436,Americas,338752267,337761268,19.637850,22481
97,2020-04-28,US,1015518,59454,115936,840128,24519,2221,4512,Americas,338752267,337736749,19.637777,24519
98,2020-04-29,US,1042926,61955,120720,860251,27408,2501,4784,Americas,338752267,337709341,19.637696,27408
99,2020-04-30,US,1072667,64256,153947,854464,29741,2301,33227,Americas,338752267,337679600,19.637608,29741

In [86]:
data_us1 = data_us1.drop(columns=['WHO Region', 'Country/Region'])

In [87]:
data_us1.head(10)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Population,Susceptiple,Log susceptiple,Decresed susceptiple
0,2020-01-22,1,0,0,1,0,0,0,338752267,338752266,19.64078,0
1,2020-01-23,1,0,0,1,0,0,0,338752267,338752266,19.64078,0
2,2020-01-24,2,0,0,2,1,0,0,338752267,338752265,19.64078,1
3,2020-01-25,2,0,0,2,0,0,0,338752267,338752265,19.64078,0
4,2020-01-26,5,0,0,5,3,0,0,338752267,338752262,19.64078,3
5,2020-01-27,5,0,0,5,0,0,0,338752267,338752262,19.64078,0
6,2020-01-28,5,0,0,5,0,0,0,338752267,338752262,19.64078,0
7,2020-01-29,5,0,0,5,0,0,0,338752267,338752262,19.64078,0
8,2020-01-30,5,0,0,5,0,0,0,338752267,338752262,19.64078,0
9,2020-01-31,7,0,0,7,2,0,0,338752267,338752260,19.64078,2

In [88]:
data_us1.to_csv('./data_us.csv')