In [37]:
import covsirphy as cvp
import pandas as pd
import numpy as np

In [49]:
country = 'Italy'

In [50]:
data = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/full_grouped.csv')
data = data[data['Country/Region'] == country].reset_index()
data = data[data['Confirmed'] > 0]

In [51]:
data

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
9,1768,2020-01-31,Italy,2,0,0,2,2,0,0,Europe
10,1955,2020-02-01,Italy,2,0,0,2,0,0,0,Europe
11,2142,2020-02-02,Italy,2,0,0,2,0,0,0,Europe
12,2329,2020-02-03,Italy,2,0,0,2,0,0,0,Europe
13,2516,2020-02-04,Italy,2,0,0,2,0,0,0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
174,32623,2020-07-14,Italy,243344,34984,195441,12919,114,17,335,Europe
175,32810,2020-07-15,Italy,243506,34997,196016,12493,162,13,575,Europe
176,32997,2020-07-16,Italy,243736,35017,196246,12473,230,20,230,Europe
177,33184,2020-07-17,Italy,243967,35028,196483,12456,231,11,237,Europe
178,33371,2020-07-18,Italy,244216,35042,196806,12368,249,14,323,Europe

In [52]:
df = pd.read_csv('./population_2020.csv')

In [53]:
population = df[df['Country (or dependency)'] == country]['Population (2020)']

In [54]:
population = int(population)
print(population)

60479424

In [55]:
num_sample = len(data)

In [56]:
population = [population for _ in range(num_sample)]

In [57]:
data['Population'] = population

In [58]:
data.tail()

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population
174,32623,2020-07-14,Italy,243344,34984,195441,12919,114,17,335,Europe,60479424
175,32810,2020-07-15,Italy,243506,34997,196016,12493,162,13,575,Europe,60479424
176,32997,2020-07-16,Italy,243736,35017,196246,12473,230,20,230,Europe,60479424
177,33184,2020-07-17,Italy,243967,35028,196483,12456,231,11,237,Europe,60479424
178,33371,2020-07-18,Italy,244216,35042,196806,12368,249,14,323,Europe,60479424

In [59]:
data['Susceptiple'] = data['Population'] - data['Confirmed']

In [60]:
data['Log susceptiple'] = np.log(data['Susceptiple'])

In [61]:
data.tail()

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple
174,32623,2020-07-14,Italy,243344,34984,195441,12919,114,17,335,Europe,60479424,60236080,17.913782
175,32810,2020-07-15,Italy,243506,34997,196016,12493,162,13,575,Europe,60479424,60235918,17.913779
176,32997,2020-07-16,Italy,243736,35017,196246,12473,230,20,230,Europe,60479424,60235688,17.913776
177,33184,2020-07-17,Italy,243967,35028,196483,12456,231,11,237,Europe,60479424,60235457,17.913772
178,33371,2020-07-18,Italy,244216,35042,196806,12368,249,14,323,Europe,60479424,60235208,17.913768

In [62]:
susceptiple = np.asarray(data['Susceptiple'])

In [63]:
new_susceptiple = susceptiple[:-1] - susceptiple[1:]

In [64]:
new_susceptiple = np.insert(new_susceptiple, 0, 0)

In [65]:
data['Decresed susceptiple'] = new_susceptiple

In [66]:
data.head(100)

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple,Decresed susceptiple
9,1768,2020-01-31,Italy,2,0,0,2,2,0,0,Europe,60479424,60479422,17.917814,0
10,1955,2020-02-01,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
11,2142,2020-02-02,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
12,2329,2020-02-03,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
13,2516,2020-02-04,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,19533,2020-05-05,Italy,213013,29315,85231,98467,1075,236,2352,Europe,60479424,60266411,17.914285,1075
105,19720,2020-05-06,Italy,214457,29684,93245,91528,1444,369,8014,Europe,60479424,60264967,17.914262,1444
106,19907,2020-05-07,Italy,215858,29958,96276,89624,1401,274,3031,Europe,60479424,60263566,17.914238,1401
107,20094,2020-05-08,Italy,217185,30201,99023,87961,1327,243,2747,Europe,60479424,60262239,17.914216,1327
108,20281,2020-05-09,Italy,218268,30395,103031,84842,1083,194,4008,Europe,60479424,60261156,17.914198,1083

In [67]:
data = data.drop(columns=['WHO Region', 'Country/Region', 'index'])

In [68]:
data.head(10)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Population,Susceptiple,Log susceptiple,Decresed susceptiple
9,2020-01-31,2,0,0,2,2,0,0,60479424,60479422,17.917814,0
10,2020-02-01,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
11,2020-02-02,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
12,2020-02-03,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
13,2020-02-04,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
14,2020-02-05,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
15,2020-02-06,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
16,2020-02-07,3,0,0,3,1,0,0,60479424,60479421,17.917814,1
17,2020-02-08,3,0,0,3,0,0,0,60479424,60479421,17.917814,0
18,2020-02-09,3,0,0,3,0,0,0,60479424,60479421,17.917814,0

In [69]:
data.to_csv(country+'.csv')